<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="./" class="navbar-brand"><img src="/images/logo.png" alt="Image">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="./" class="nav-item nav-link active">Home</a>
                <a href="about" class="nav-item nav-link">About</a>
                <a href="service" class="nav-item nav-link">Service</a>
                <!-- <a href="price" class="nav-item nav-link">Price</a>
                <a href="class" class="nav-item nav-link">Class</a>
                <a href="team" class="nav-item nav-link">Trainer</a>
                <a href="portfolio" class="nav-item nav-link">Pose</a> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu">
                        <a href="blog" class="dropdown-item">Blog Grid</a>
                        <a href="single" class="dropdown-item">Blog Detail</a>
                    </div>
                </div>
                <a href="contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </div>
</div>