
        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/images/about.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Learn About Us</p>
                            <h2>Who is Bhumi Joshi</h2>
                        </div>
                        <div class="about-text">
                            <p>
                               Bhumi Joshi is a distinguished holistic wellness professional with over 13 years of expertise in her field. Her journey in the realm of holistic well-being has been nothing short of transformative, leaving a profound and positive impact on thousands of individuals across various countries, including India, the UAE, and East Africa, transcending age boundaries.
                            </p>
                            <p>
                                Bhumi's career objective stands as a testament to her unwavering dedication: she aspires to make a substantial impact in the Holistic Wellness field by applying her extensive knowledge of Yogic philosophy and Holistic Coaching. Her mission is to serve people by helping them recognize the profound significance of Holistic Living in nurturing both a sound body and a sound mind.
                            </p>
                            <p>
                                With her profound expertise and steadfast commitment, Bhumi Joshi shines as a guiding light in the world of holistic wellness, steering countless individuals on transformative journeys towards well-being and inner peace.
                            </p>
                            <p> 
                                
                                Bhumi's journey into the world of holistic wellness has been nothing short of remarkable. Through her holistic approach, she has effectively treated numerous patients suffering from common ailments, catalyzing transformative changes in their lives. Her expertise encompasses Hypnotherapy, Inner Child Healing, and Past Life Regression Therapy, offering a holistic blend of therapies for comprehensive healing.

                            </p>
                             <p> 
                                Bhumi's influence extends to various facets of holistic well-being. She has played a pivotal role in training at activity centers for children, pioneered corporate desk yoga initiatives, and organized International Yoga Day celebrations in Uganda in collaboration with the Indian High Commission.
                            </p>
                             <p>
                                During her Master's program in Yoga therapy, Bhumi's commitment to making a positive impact on society shone brightly. She presented a research paper on Yoga for Orphans in Uganda, demonstrating her unwavering dedication to bringing the healing power of Yoga to underprivileged communities.
                             </p>
                              <p> Bhumi Joshi's commitment to holistic well-being goes far beyond Yoga. She is a certified Wellness Coach, NLP Practitioner, Hypnotherapist, Inner Child Healer, and Past Life Regression Therapist. Her multifaceted approach empowers people to embark on journeys of self-discovery, paving the way for a brighter and better tomorrow.
                            </p>
                            <p>
                                In her career, Bhumi has made substantial contributions to the field of wellness. As a Wellness Team Leader in Gujarat, she played a pivotal role in developing corporate wellness programs and building a repository of wellness knowledge for Wellness Coaches. Bhumi's passion for teaching and coaching extends well beyond the corporate world. As a Yoga Instructor, she trained students in various Yoga styles and therapies. Additionally, her role as a Lifestyle Coach in Mumbai allowed her to motivate individuals towards healthier lifestyles
                            </p>
                            <p>
                                With Bhumi Joshi's expert guidance and unwavering support, you too can embark on a profound journey of wellness, self-discovery, and holistic well-being.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Team Start -->
<!--         <div class="team">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Yoga Trainer</p>
                    <h2>Expert Yoga Trainer</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/images/team-1.jpg" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Millie Harper</h2>
                                <p>Yoga Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/images/team-2.jpg" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Lilly Fry</h2>
                                <p>Yoga Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/images/team-3.jpg" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Elise Moran</h2>
                                <p>Yoga Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/images/team-4.jpg" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Kate Glover</h2>
                                <p>Yoga Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Team End -->


        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->

