
        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Detail Page</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Detail Page</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Single Post Start-->
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content wow fadeInUp">
                            <img src="/images/single.jpg" />
                            <h2>HOW MANY ORIGINAL WORKS ARE THERE IN YOGA?</h2>
                            <b> Written by – Dr. Saraswati Mohan</b>
                            <b>Assisted by- Bhumi Joshi</b>
                            <p>
                                Yoga is one of six principal systems of Indian philosophy. These six systems are called ṣaḍ - darśanās . The Sanskrit word,  ‘Darśanā’ means “Showing”. That means, these are the six means or paths or studies, through which we realize God. Each of these is unimaginably a large field of study.  It is to be noted here that all the original works of these systems are written only in sanskrit language.
                            </p>
                            <p>
                                Even Scholars and advanced researchers in yoga field are familiar only with the original texts like Pataṅjali-yoga-sūtra, Haṭha-yoga-pradīpīkā and Gheraṇḍa saṁhita.These texts are already available in print and translated into different languages. Of these, Pataṅjali’s-yoga-sūtra in particular, has been commented and interpreted very widely. This gives a wrong opinion that these are the only texts written in the field of yoga. There are thousands of other works in the field of yoga, which are yet unpublished. It is unfortunate that these unpublished works are not even familiar to most of the present Yoga specialists.
                            </p>
                            <p>
                                This is the right time and place to discuss on the general condition of the unpublished Sanskrit works, Millons of manuscripts are available all over India, in different libraries, mutts, missions and public and private collections. Some of these manuscripts are not even catalogued. Copies of some manuscripts are also taken to other countries. Eg. India office library in London has eight-digit serial number. 
                            </p>
                            <p>Most of  were written on palm leaves several centuries ago. Because of lack of good preservation in the old traditional houses of our scholars, most of the palm-leaf manuscripts are worm-eaten, as a result of which, we have lost many words or passages. At present, the manuscript are full of lacunae. Secondly, because of the joint-family system in India, after the demise of the original author, out of respect to their fore-father, each text written by the head of their family is also divided by the children. After several such divisions, it has resulted in fragmentation of the manuscripts. For every text, we sometimes find only four or five out of one hundred leaves of manuscript with each branch of the family. Often, we have to do research to find out where all the blood relatives of the author or his patron are residing at present , in order to know any possibility of finding a copy of the manuscript.</p>
                            <p>To prevent fragmentation of the manuscripts, sometimes the family may decide to make a manual copy of the text for each branch of the family. Since the copies are made without the knowledge of the subject, every such manual copying introduced fifteen percent of errors.  After several times of such copying, it resulted in making the manuscript completely unintelligible. Also it resulted in making the copy very much deviated from the autograph of the original author . </p>
                            <p>We come across many names of works and authors merely mentioned in other texts but they are not available to us. How do we get the information about those works and authors?  Moreover, our ancestors were so self-less, that they did not either write their names nor about their family. As such, we do not have any information about the author, unless we read other texts referred to by the author or texts, which refered to the previous author or his texts. After reading several works of that period and also works written on the same subject, we may come to know the approximate period and the general view of the author. All this work involves in reading many other manuscripts, for knowing about the present author.</p>
                            <p>Regarding the condition of manuscripts, we have to know another important factor also. Most of the manuscripts after several centuries without getting proper treatment,  become very dry and brittle. As a result of that, the manuscripts, especially at the ending portions, will break into pices. They are like potato chips, or Indian Pappads. Most of the manuscripts lose their ending words or letters of every line. This results in many lacunae in almost all the manuscripts.  Moreover India has many languages and scripts. So, a manuscript available in a particular region may be copied in that regional script. Manuscript being written in different scripts, also poses another problem. We have to get someone who is fluent in that script, for deciphering that work.</p>
                            <p>Because of all these reasons, the manuscripts have quite unintelligible. How do we solve this problem?  First, we have to collect all the existing copies of a text, we have collected and then we have to collate  (compare each word) all of them. If a word or phrase in one copy is eaten by insects, the same word or phrase is possible that may not be eaten in the same place in another copy. That is, the worms, which eat a particular word of phrase in a manuscript, may not eat the same word or phrase in another copy. Hence, collating can fill up many such gaps and thus we can prepare a redable text. A rough working edition has to be prepared for preliminary reading. By understanding the particular context, we should be able to figure out the word needed here. This work also needs a good knowledge of sanskrit language and the subject matter. </p>
                            <p>This is a huge task. We also need good knowledge of sanskrit and the subject matter of the field even to make a rough text by collating, we can get the major part of the text from different copies. If each copy gives a different word, knowing the context and also knowledge of other works in the field (both prior and later to the author) can help us to conjecture the word under question.</p>
                            <p>Sanskrit manuscripts are scattered all over the world in the libraries and private collections. Most of them are not even enlisted or catalogued. Most of the manuscripts are in public libraries and private collections. Indian government has been pooling many manuscripts from different possessions and preserving them in Government Oriental Manuscript Libraries (GOML) in big cities of the country, like Chennai, Mysore etc. </p>
                            <p>In 1891, a German Scholar, by name “Aurecht” felt the need to make a catalogue of these lists and called it “Catalogus Catalogorum” (Catalogue of Catalogs). Two supplements also came to that by 1903. Later Professor Kuppuswamy Satry in Madras University has enlarged this and planned around 40-volume project adding works in Pali and Praakrt also. He called it “New Catalogus Catalogorum”. This was taken up by his student, Dr. V. Raghvan (my Professor). At present it is being headed by Prof. Siniruddha Dash. This Project is planned to be finished by March 2013.
                                The New Catalogus Catalogorum (NCC) is an alphabetical register of Sanskrit and allied works and authors. This gives the preliminary information about the unpublished Sanskrit works. Several Professors have continued to work on this most useful project. Many Sanskrit Scholars were employed to collate and prepare readable texts of some important works in different fields. In this connection, many scholars travelled all over the world and collected information about Sanskrit and allied works.
                                </p>
                            <p>For each entry, the New Catalogus Catalogorum gives one paragraph of information- whether the text is printed, if printed, where it is available; if it is not yet printed, how many manuscripts are available and how many chapters, on what subject, on the author’s name and the text information available, the extent of the works, where and how many manuscripts are available, information on script and their reference details; if the copy is complete or incomplete, and also general condition of the manuscript.</p>    
                            <b>For Further Information one can contact- </b><br>
                            <b>Dr. Sinirudha Dash</b><br>
                            <b>Professor and Head</b><br>
                            <b>Department of Sanskrit</b><br>
                            <b>University Of Madras</b><br>
                            <b>E-mail- dash_sans@ yahoo.co.uk</b><br>
                            
                        </div>
                        <!-- <div class="single-tags wow fadeInUp">
                            <a href="">National</a>
                            <a href="">International</a>
                            <a href="">Economics</a>
                            <a href="">Politics</a>
                            <a href="">Lifestyle</a>
                            <a href="">Technology</a>
                            <a href="">Trades</a>
                        </div> -->
                        <div class="single-bio wow fadeInUp">
                            <div class="single-bio-img">
                                <img src="/images/user.jpg" />
                            </div>
                            <div class="single-bio-text">
                                <h3>Dr. Saraswati Mohan</h3>
                                <!-- <p>
                                    Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                                </p> -->
                            </div>
                        </div>
                        <!-- <div class="single-related wow fadeInUp">
                            <h2>Related Post</h2>
                            <div class="owl-carousel related-slider">
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="/images/post-1.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        <div class="post-meta">
                                            <p>By<a href="">Admin</a></p>
                                            <p>In<a href="">Design</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="/images/post-2.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        <div class="post-meta">
                                            <p>By<a href="">Admin</a></p>
                                            <p>In<a href="">Design</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="/images/post-3.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        <div class="post-meta">
                                            <p>By<a href="">Admin</a></p>
                                            <p>In<a href="">Design</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src="/images/post-4.jpg" />
                                    </div>
                                    <div class="post-text">
                                        <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        <div class="post-meta">
                                            <p>By<a href="">Admin</a></p>
                                            <p>In<a href="">Design</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="single-comment wow fadeInUp">
                            <h2>3 Comments</h2>
                            <ul class="comment-list">
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="/images/user.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Josh Dunn</a></h3>
                                            <span>01 Jan 2045 at 12:00pm</span>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                            </p>
                                            <a class="btn" href="">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-item">
                                    <div class="comment-body">
                                        <div class="comment-img">
                                            <img src="/images/user.jpg" />
                                        </div>
                                        <div class="comment-text">
                                            <h3><a href="">Josh Dunn</a></h3>
                                            <p><span>01 Jan 2045 at 12:00pm</span></p>
                                            <p>
                                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                            </p>
                                            <a class="btn" href="">Reply</a>
                                        </div>
                                    </div>
                                    <ul class="comment-child">
                                        <li class="comment-item">
                                            <div class="comment-body">
                                                <div class="comment-img">
                                                    <img src="/images/user.jpg" />
                                                </div>
                                                <div class="comment-text">
                                                    <h3><a href="">Josh Dunn</a></h3>
                                                    <p><span>01 Jan 2045 at 12:00pm</span></p>
                                                    <p>
                                                        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst. 
                                                    </p>
                                                    <a class="btn" href="">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="comment-form wow fadeInUp">
                            <h2>Leave a comment</h2>
                            <form>
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <!-- <div class="sidebar-widget wow fadeInUp">
                                <div class="search-widget">
                                    <form>
                                        <input class="form-control" type="text" placeholder="Search Keyword">
                                        <button class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div> -->

                            <!-- <div class="sidebar-widget wow fadeInUp">
                                <h2 class="widget-title">Recent Post</h2>
                                <div class="recent-post">
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/images/post-1.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            <div class="post-meta">
                                                <p>By<a href="">Admin</a></p>
                                                <p>In<a href="">Design</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/images/post-2.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            <div class="post-meta">
                                                <p>By<a href="">Admin</a></p>
                                                <p>In<a href="">Design</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/images/post-3.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            <div class="post-meta">
                                                <p>By<a href="">Admin</a></p>
                                                <p>In<a href="">Design</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/images/post-4.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            <div class="post-meta">
                                                <p>By<a href="">Admin</a></p>
                                                <p>In<a href="">Design</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/images/post-5.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                            <div class="post-meta">
                                                <p>By<a href="">Admin</a></p>
                                                <p>In<a href="">Design</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="sidebar-widget wow fadeInUp">
                                <div class="image-widget">
                                    <a href="#"><img src="/images/blog-1.jpg" alt="Image"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <div class="tab-post">
                                    <ul class="nav nav-pills nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="featured" class="container tab-pane active">
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-1.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-2.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-3.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-4.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-5.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="popular" class="container tab-pane fade">
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-1.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-2.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-3.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-4.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-5.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="latest" class="container tab-pane fade">
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-1.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-2.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-3.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-4.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="post-img">
                                                    <img src="/images/post-5.jpg" />
                                                </div>
                                                <div class="post-text">
                                                    <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                                    <div class="post-meta">
                                                        <p>By<a href="">Admin</a></p>
                                                        <p>In<a href="">Design</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <div class="image-widget">
                                    <a href="#"><img src="/images/blog-2.jpg" alt="Image"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <h2 class="widget-title">Categories</h2>
                                <div class="category-widget">
                                    <ul>
                                        <li><a href="">National</a><span>(98)</span></li>
                                        <li><a href="">International</a><span>(87)</span></li>
                                        <li><a href="">Economics</a><span>(76)</span></li>
                                        <li><a href="">Politics</a><span>(65)</span></li>
                                        <li><a href="">Lifestyle</a><span>(54)</span></li>
                                        <li><a href="">Technology</a><span>(43)</span></li>
                                        <li><a href="">Trades</a><span>(32)</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <div class="image-widget">
                                    <a href="#"><img src="/images/blog-3.jpg" alt="Image"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <h2 class="widget-title">Tags Cloud</h2>
                                <div class="tag-widget">
                                    <a href="">National</a>
                                    <a href="">International</a>
                                    <a href="">Economics</a>
                                    <a href="">Politics</a>
                                    <a href="">Lifestyle</a>
                                    <a href="">Technology</a>
                                    <a href="">Trades</a>
                                </div>
                            </div>

                            <div class="sidebar-widget wow fadeInUp">
                                <h2 class="widget-title">Text Widget</h2>
                                <div class="text-widget">
                                    <p>
                                        Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea nec eros. Nunc eu enim non turpis id augue.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Post End-->   


        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->
