

        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Services</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Services</a>
                        <a href="">Heal emotions</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/images/about.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <!-- <p>Learn About Us</p> -->
                            <h2>Welcome to Yooga</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                I'm a psychotherapist specializing in trauma therapy through somatic and narrative practices. Two highly effective therapies that help you process traumas, life issues or simply seek self growth.
                            </p>
                            <p>
                                I got my Master’s degree in Counselling for Mental Health and Wellness from New York University in 2009. Currently, I have a private practice and am the founder at Heal.Grow.Thrive Foundation- a center providing quality psychotherapy and psychological testing globally.
                            </p>
                            <p> 
                                I have over 13 year’s experience in working with childhood trauma, anxiety, life issues, sexuality, women’s issues, grief counselling, premarital counselling, anger management, marital therapy, infertility, mood disorders, personality disorders, depression, anxiety and schizophrenia, to name a few.
                            </p>
                           <!--  <a class="btn" href="">Learn More</a> -->
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <!-- <p>Learn About Us</p> -->
                            <h2>Welcome to Yooga</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                I'm a psychotherapist specializing in trauma therapy through somatic and narrative practices. Two highly effective therapies that help you process traumas, life issues or simply seek self growth.
                            </p>
                            <p>
                                I got my Master’s degree in Counselling for Mental Health and Wellness from New York University in 2009. Currently, I have a private practice and am the founder at Heal.Grow.Thrive Foundation- a center providing quality psychotherapy and psychological testing globally.
                            </p>
                            <p> 
                                I have over 13 year’s experience in working with childhood trauma, anxiety, life issues, sexuality, women’s issues, grief counselling, premarital counselling, anger management, marital therapy, infertility, mood disorders, personality disorders, depression, anxiety and schizophrenia, to name a few.
                            </p>
                           <!--  <a class="btn" href="">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/images/about.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->
