

        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
    
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div class="hero">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-text">
                            <h1>Aarambh Wellness</h1>
                            <p>
                                Welcome to Aarambh Wellness Center, "Embark on a Journey of Wellness." Here, we invite you to discover your authentic self through the transformative power of Yoga, Meditation, & Holistic Therapy—nurturing your mind, body, and spirit.
                            </p>
                            <div class="hero-btn">
                                <a class="btn" href="/contact">Join Now</a>
                                <a class="btn" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="/images/4.png" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/images/4.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Learn About Us</p>
                            <h2>Welcome to Yooga</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                At Aarambh Wellness, we firmly uphold the belief that a joyous life begins with a nurtured mind and body, radiating positivity and well-being.
                            </p>
                            <p>
                                Our sanctuary of well-being takes immense pride in offering an extensive array of services, carefully curated to nurture your inner self. Our offerings include meditation, breathwork, yoga therapy, hypnotherapy, inner child healing, and a wealth of holistic practices. Each of these services is thoughtfully designed to guide you towards achieving balance and attaining inner peace.
                            </p>
                            <p>
                                We deeply understand that true well-being is the harmonious union of mental and physical health. By giving equal attention to these vital facets of your life, we empower our clients to cultivate a profound sense of overall wellness, allowing them to lead their best lives with strength and resilience.
                            </p>
                            <p>
                                Dear seeker,take that first step towards a life of balance and inner peace at Aarambh Wellness Whether you seek relief from stress, personal growth, or healing, our dedicated team of holistic coaches and practitioners is here to support you at every step.
                            </p>
                            <p>
                                Your journey towards a joyous and fulfilling life starts right here. Contact us today to embrace the path to a brighter, more harmonious future.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What we do</p>
                    <h2>Our Services</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout"></i>
                            </div>
                            <h3>Meditation</h3>
                            <p>
                                Experience tranquility and clarity through our meditation techniques, fostering mental serenity and inner peace.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item active">
                            <div class="service-icon">
                                <i class="flaticon-workout-1"></i>
                            </div>
                            <h3>Breathwork</h3>
                            <p>
                                Discover the transformative power of breath, improving mental clarity and physical vitality.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-2"></i>
                            </div>
                            <h3>Yoga Therapy</h3>
                            <p>
                                Personalized yoga therapy sessions designed to heal and restore, promoting physical and emotional balance.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-3"></i>
                            </div>
                            <h3>Body & Spirituality</h3>
                            <p>
                                Harness the subconscious for positive change, reduce stress, and unlock your full potential with our hypnotherapy sessions.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-4"></i>
                            </div>
                            <h3>Inner Child Healing</h3>
                            <p>
                                Embark on a journey of emotional healing, addressing past traumas and emotional blocks for lasting transformation.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-yoga-pose"></i>
                            </div>
                            <h3>Past Life Regression</h3>
                            <p>
                                Explore your past lives to gain insights, heal deep-rooted issues, and enhance your present well-being.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        
        <!-- Discount Start -->
        <div class="discount wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p>You Don’t Have to Find Your Way Alone.</p>
                </div>
                <div class="container discount-text">
                    <p>
                        If you've been grappling with stress, anxiety, or feelings of depression, struggling with sleep, facing self-doubt, isolation, or finding it challenging to maintain healthy relationships, or if you're prepared to confront your past and address childhood trauma, I'm here to support you in finding clarity and resolution.
                    </p>
                    <p>
                       We will collaboratively explore various perspectives and strategies to address your challenges, all the while delving into the root causes that led you to this point in your journey.
                    </p>

                    <a class="btn">Join Now</a>
                </div>
            </div>
        </div>
        <!-- Discount End -->

        
        
        
      
        
        <!-- Testimonial Start -->
        <div class="testimonial wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>Our Client Say!</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="/images/testimonial-1.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Bhumi has provided me with the best techniques to overcome my fears and anxieties, such as anchoring methods for motivation and a visualization technique (self-hypnosis) that I can practice independently to boost my confidence. I will utilize both of these techniques to manage my fears and anxieties effectively.
                            </p>
                            <h3>Customer Name</h3>
                            <h4>Profession</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="/images/testimonial-2.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Therapy sessions with Bhumi have been instrumental in helping me address negative emotions and fears. With her gentle guidance and expertise, I felt comfortable exploring the root causes of my issues. Bhumi assisted me in releasing deep-seated emotions that had been holding me back and impeding my progress.
                            </p>
                            <h3>Customer Name</h3>
                            <h4>Profession</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="/images/testimonial-3.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                I'm eternally grateful for choosing therapy with Bhumi. Her sessions have injected me with newfound energy, addressing painful childhood memories and transforming my life into one that's more productive, happy, healthy, and successful. The impact on my family relationships has been profound, and I see Bhumi's therapies as a guiding angel, blessing my journey. 
                            </p>
                            <h3>Customer Name</h3>
                            <h4>Profession</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="/images/testimonial-4.jpg" alt="Image">
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Her calming presence and soothing voice instantly put me at ease during our sessions. I now feel more in control of my emotions and better equipped to handle challenging situations. Thank you, Bhumi."
                            </p>
                            <h3>Customer Name</h3>
                            <h4>Profession</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>From Blog</p>
                    <h2>Latest Yoga Articles</h2>
                </div>
                <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="/images/blog-1.jpg" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>The Healing Power of Mind, Body, and Spirit</h2>
                            <div class="blog-meta">
                                <p><i class="far fa-list-alt"></i>Body Fitness</p>
                                <p><i class="far fa-calendar-alt"></i>01-Jan-2005</p>
                                <p><i class="far fa-comments"></i>5</p>
                            </div>
                            <p>
                                Yoga, an ancient practice originating in India, is often associated with flexibility
                            </p>
                            <a class="btn" href="blog1">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="/images/blog-2.jpg" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>HOW MANY ORIGINAL WORKS ARE THERE IN YOGA</h2>
                            <div class="blog-meta">
                                <p><i class="far fa-list-alt"></i>Body Fitness</p>
                                <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                <p><i class="far fa-comments"></i>5</p>
                            </div>
                            <p>
                                Yoga is one of six principal systems of Indian philosophy. 
                            </p>
                            <a class="btn" href="/blog2">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="/images/blog-3.jpg" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <h2>Exploring the Profound Connection Between Hypnotherapy and Yoga</h2>
                            <div class="blog-meta">
                                <p><i class="far fa-list-alt"></i>Body Fitness</p>
                                <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                <p><i class="far fa-comments"></i>5</p>
                            </div>
                            <p>
                                Yoga and hypnotherapy may seem worlds apart at first glance 
                            </p>
                            <a class="btn" href="blog3">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    


        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->

       
