


        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Services</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Services</a>
                        <a href="">Heal emotions</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/images/about.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <!-- <p>Learn About Us</p> -->
                            <h2>**Meditation**</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                Experience tranquility and clarity through our meditation techniques, fostering mental serenity and inner peace. Our meditation sessions are carefully curated to guide you on a journey of self-discovery and mindfulness. Whether you're new to meditation or a seasoned practitioner, our experienced instructors will create a nurturing environment for you to explore different meditation styles and find the one that resonates with you. Meditation not only reduces stress and anxiety but also enhances your mental focus, emotional well-being, and overall sense of inner calm.
                            </p>
                           <!--  <a class="btn" href="">Learn More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->


    </body>
</html>

