
        <!-- Nav Bar Start -->
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/header.ejs') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Service</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Service</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What we do</p>
                    <h2>Yoga For Health</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout"></i>
                            </div>
                            <a href="heal-emotions.php" class="nav-item nav-link active"><h3>Meditation</h3></a>
                            <p>
                                Experience tranquility and clarity through our meditation techniques, fostering mental serenity and inner peace.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item active">
                            <div class="service-icon">
                                <i class="flaticon-workout-1"></i>
                            </div>
                            <a href="breath-work.php" class="nav-item nav-link active"><h3>Breathwork</h3></a>
                            <p>
                                Discover the transformative power of breath, improving mental clarity and physical vitality.
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-2"></i>
                            </div>
                            <a href="yoga-therapy.php" class="nav-item nav-link active"><h3>Yoga Therapy</h3></a>
                            <p>
                                Personalized yoga therapy sessions designed to heal and restore, promoting physical and emotional balance.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-3"></i>
                            </div>
                            <a href="hypnotherapy.php" class="nav-item nav-link active"><h3>Hypnotherapy</h3></a>
                            <p>
                                Harness the subconscious for positive change, reduce stress, and unlock your full potential with our hypnotherapy sessions.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-4"></i>
                            </div>
                            <a href="inner.php" class="nav-item nav-link active"><h3>Inner Child Healing</h3></a>
                            <p>
                                Embark on a journey of emotional healing, addressing past traumas and emotional blocks for lasting transformation.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-yoga-pose"></i>
                            </div>
                            <a href="past.php" class="nav-item nav-link active"><h3>Past Life Regression</h3></a>
                            <p>
                                Explore your past lives to gain insights, heal deep-rooted issues, and enhance your present well-being.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Footer Start -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer End -->

    